.hidden-xs {
  @include respond-to(xs-less) {
    display: none;
  }
}

.hidden-sm {
  @include respond-to(sm-less) {
    display: none;
  }
}

.hidden-md {
  @include respond-to(md-less) {
    display: none;
  }
}

.hidden-lg {
  @include respond-to(lg-less) {
    display: none;
  }
}

.visible-xs {
  @include respond-to(xs) {
    display: none;
  }
}

.visible-sm {
  @include respond-to(sm) {
    display: none;
  }
}

.visible-md {
  @include respond-to(md) {
    display: none;
  }
}

.visible-lg {
  @include respond-to(lg) {
    display: none;
  }
}
