<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      {% include "_head.njk" %}
      <title>Title | {{ frontMatter.title }}</title>
    {% endblock %}
  </head>

  <body>
    {% block body %}
    {% endblock %}

    {% block foot %}
      {% include "_foot.njk" %}
    {% endblock %}
  </body>
</html>
