/* ==========================================================================
  Sizes
========================================================================== */

$body-width:           1080px;


/* ==========================================================================
  Primary Colors
========================================================================== */

$white:                #fff;
$black:                #000;
$blue:                 #08c;
$light-blue:           #5cc3f6;

