---
title: Main Navigation
---

{% extends "layouts/_default.njk" %}

{% block body %}
<main class="page-speech">
  <div class="speech clearfix">
    <div class="speech-inner">
      <span class="final"></span>
      <span class="interim"></span>
    </div>

    <button type="button" class="mic">
      <span class="vol"></span>
    </button>
  </div>
</main>
{% endblock %}
